// Import all partials
@require './_*.styl'

.container
  width 100%
  padding margin
  display block
  margin 0 auto
  @media(min-width: 768px)
    max-width: 548px
  
.intro-headline
  margin-bottom margin

.intro-text
  margin 0 0 margin
  opacity 0.69
  font-size 1.6rem
  line-height 32px
  color #000000
  
.subscribe
  margin-bottom: 50px;

  .input-email
    display block
    width 100%
    padding 13px 15px
    margin-bottom margin
    border: 1px solid rgba(0, 0, 0, 0.1)
    font-size 12px
    
  .input-submit
    padding 5px 16px
    font-size 12px
    background: #FFFFFF;
    border 1px solid rgba(0, 0, 0, 0.1)
    border-radius: 3.59px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20), 0px 0px 0px 1px rgba(0,0,0,0.10);

article
  .article-top-info
    display block
    margin-bottom 8px
    opacity 0.7
    font-size 11px
    letter-spacing 0.50px
    color #000000
    
  .article-title
    margin-bottom 14px
    opacity 0.87
    font-size 19.44px
    line-height 25.92px
    text-align left
    color #000000

  .article-image
    max-width 100%
    margin-bottom 15px
    background #FAFAFA

  .article-description
    margin-bottom 20px
    opacity: 0.69;
    font-size: 12.96px;
    line-height: 18.62px;
    color: #000000;

footer
  margin-top 20px
  p
    font-family: 'Open Sans', sans-serif
    font-size: 14px;
    color: #111118;





