// Import all partials
@require './_*.styl'


.rm-break
  display block
  @media(min-width: 768px)
    display none
  
.container
  width 100%
  padding gutter gutter 0
  display block
  margin 0 auto
  @media(min-width: 768px)
    max-width: 548px
  
.intro-headline
  margin-bottom gutter

.intro-text
  margin 0 0 gutter
  opacity 0.69
  font-size 1.6rem
  line-height 32px
  color #000000
  
.subscribe
  margin-bottom: 50px;

  .input-email
    display block
    width 100%
    padding 13px 15px
    margin-bottom gutter
    border: 1px solid rgba(0, 0, 0, 0.1)
    font-size 12px
    
  .input-submit
    padding 5px 16px
    font-size 12px
    background: #FFFFFF
    border 1px solid rgba(0, 0, 0, 0.1)
    border-radius: 3.59px
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20), 0px 0px 0px 1px rgba(0,0,0,0.10)

.articles
  > h1
    text-align left
    margin-bottom 20px

article
  &:first-of-type
    .article-wrapper
      flex-flow: column
    
      .article-text-content
        width 100%
        order 1
      
      .article-image
        display block
        width 100%
        min-height 87px
        margin-right 0
        order 2
        
        img
          width auto
          height 80%
      
      .article-title
        margin-bottom 14px
        font-size 2rem
        line-height 26px
        opacity 0.87
      
      .article-description
        display block
        margin 20px 0 10px
        order 4

  .article-wrapper
    padding 18px 0
    border-bottom 1px solid rgba(0, 0, 0, .05)
    display flex
    align-items: center;

  .article-text-content
    order 2

  .article-top-info
    display: block;
    margin-bottom 8px
    font-size 1.1rem
    letter-spacing 0.50px
    color #000000
    opacity 0.7
    
  .article-title
    margin-bottom 0
    font-size 1.45rem
    line-height 20px
    text-align left
    opacity 0.87
    color #000000

  .article-image
    position relative
    flex 1
    min-width 94px
    min-height 94px
    margin-right 12px
    background #FAFAFA
    order: 1
    
    img
      position absolute
      top 50%
      left 50%
      width 70%
      transform translate(-50%, -50%)
      
  .article-description
    margin-bottom 20px
    opacity 0.87
    font-size: 1.3rem
    line-height: 18px
    color: #000000
    display none

footer
  padding 25px 0
  @media(min-width: 768px)
    padding 50px 0
  p
    margin 0
    font-family: 'Open Sans', sans-serif
    font-size: 14px
    line-height 20px
    color: #111118
    
    .footer-icon
      display inline-block
      width 17px
      height 20px
      margin: 0 5px;
      background url('images/auth0-small-icon.svg') center center no-repeat




