// Import all partials
@require './_*.styl'

.container
  width 100%
  padding margin
  display block
  margin 0 auto
  @media(min-width: 768px)
    max-width: 548px
  
.intro-headline
  margin-bottom margin

.intro-text
  margin 0 0 margin
  opacity 0.69
  font-size 1.6rem
  line-height 32px
  color #000000
  
.subscribe
  margin-bottom: 50px;

  .input-email
    display block
    width 100%
    padding 13px 15px
    margin-bottom margin
    border: 1px solid rgba(0, 0, 0, 0.1)
    font-size 12px
    
  .input-submit
    padding 5px 16px
    font-size 12px
    background: #FFFFFF;
    border 1px solid rgba(0, 0, 0, 0.1)
    border-radius: 3.59px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20), 0px 0px 0px 1px rgba(0,0,0,0.10);

.articles
  > h1
    text-align left
    margin-bottom 20px

  article
    margin 0 auto 20px
    border-bottom 1px solid rgba(0, 0, 0, .05)
    display flex
  
    &:first-of-type
      flex-flow: column
      .article-text-content
        order 1
      .article-image
        width 100%
        order 2
      .article-title
        margin-bottom 14px
        font-size 2rem
        line-height 26px
        opacity 0.87

    .article-text-content
      order 2

    .article-top-info
      margin-bottom 8px
      font-size 1.1rem
      letter-spacing 0.50px
      color #000000
      opacity 0.7
      
    .article-title
      opacity 0.87
      font-size 14.5px
      font-size 1.45rem
      line-height 20px
      text-align left
      color #000000

    .article-image
      width 94px
      height 94px
      max-width 100%
      margin-bottom 15px
      background #FAFAFA
      order: 1

    .article-description
      margin-bottom 20px
      opacity 0.87
      font-size: 1.3rem
      line-height: 18px
      color: #000000
      display none

footer
  margin-top 20px
  p
    font-family: 'Open Sans', sans-serif
    font-size: 14px
    color: #111118





